global !p
from vimsnippets import foldmarker, make_box, get_comment_format
endglobal

snippet date
${2:${1:`date +%d`}/`date +%m`}/`date +%Y`
endsnippet

snippet lb "A nice box over the full width" b
`!p
if not snip.c:
	width = int(vim.eval("&textwidth - (virtcol('.') == 1 ? 0 : virtcol('.'))")) or 71
box = make_box(len(t[1]), width)
snip.rv = box[0]
`
$0
endsnippet
