snippet cc
(comment

  ${1:${VISUAL:(+ 1 1)}}

  (println "end"))
endsnippet


snippet sb
;; --------------------------------------------------------------------------- 
;; ${1:${VISUAL:Section}}
;; --------------------------------------------------------------------------- 
endsnippet

snippet pp
(require '[clojure.pprint :refer [pprint])
endsnippet

snippet fo
^:test-refresh/focus 
endsnippet
