snippet tg
<"${1}">
	"${2}"
</"${1}">
endsnippet

snippet sct
<section>
	${1}
</section>
endsnippet

snippet mds
<section data-markdown>
	<textarea data-template>
		${1}
	</textarea>
</section>
endsnippet

snippet sb
<span style="color:slateblue">${1}</span>
endsnippet
