snippet prn
println!("{:#?}", ${1:${VISUAL:variable}});
endsnippet

snippet fmt
format!("{:#?}", ${1:${VISUAL:variable}});
endsnippet

snippet uerr
use std::error::Error;
endsnippet

snippet sb
// ---------------------------------------------------------------------------
// ${1:${VISUAL:Section}}
// ---------------------------------------------------------------------------
endsnippet

snippet resd
Result<${1:${VISUAL:Ok}}, Box<dyn Error>>
endsnippet
