snippet sc
import org.apache.spark.SparkConf
import org.apache.spark.SparkContext
endsnippet

snippet sb
///////////////////////////////////////////////////////////////////////////////////////////
// ${1:section}
///////////////////////////////////////////////////////////////////////////////////////////

endsnippet

snippet dp
println("##################### ${1:message} ####################")
endsnippet

snippet plb
println("________________________________________________________________________________")
endsnippet
