snippet prn
console.log(JSON.stringify(${1:${VISUAL:variable}}, null, 2));
endsnippet

snippet cns
console.log(${1:${VISUAL:variable}});
endsnippet

snippet for
for (const x of ${1:${VISUAL:xs}}) {
	statement
}
endsnippet

snippet sb
// ---------------------------------------------------------------------------
// ${1:${VISUAL:Section}}
// ---------------------------------------------------------------------------
endsnippet
