beautifulsoup4
bokeh
catboost
coconut[jupyter,watch,jobs,mypy,asyncio]
cython
dask[complete]
dask-ml[xgboost]
html5lib
hypothesis
ipython
jupyter
keras
lightgbm
matplotlib
mypy
numba
numexpr
numpy
pandas
pdbpp
plotly
pydot
pyre-check
pytest
pywebhdfs
requests
scikit-learn
scipy
scrapy
seaborn
statsmodels
tabulate
toolz
tornado
xgboost
