beautifulsoup4
bokeh
catboost
cython
dask[complete]
html5lib
hypothesis
ipython
jupyter
keras
lightgbm
matplotlib
mypy
numba
numexpr
numpy
pandas
pdbpp
plotly
pydot
pyre-check
pytest
scikit-learn
scipy
scrapy
seaborn
statsmodels
xgboost
